<app-header></app-header>
<div class="container ">
    <app-postpage></app-postpage>
    <app-menubar></app-menubar>
    <br>
    <!-- <div class="card text-white justify-content-center bg-dark mb-3 " style="max-width: 30rem;">
        <div class="card-header ">Header</div>
        <div class="card-body">
            <h4 class="card-title">---------------------</h4>
            <p class="card-text">-----------------------------------------------------------------.</p>
        </div>
    </div>
    <div class="card text-white justify-content-center bg-dark mb-3 " style="max-width: 30rem;">
        <div class="card-header ">Header</div>
        <div class="card-body">
            <h4 class="card-title">---------------------</h4>
            <p class="card-text">-----------------------------------------------------------------.</p>
        </div>
    </div> -->
    
    <h1>follow work!</h1>
</div>