<app-header></app-header>
<div class="container mt-5">
    <app-menubar></app-menubar>
    <div class="grid-container">
        <div *ngFor="let item of array; let num = index">
            <br>
            <a href={{item.image}}
                data-size="1600x1067">
                <img src={{item.image}} class="img-fluid z-depth-1-half" style="float:left; width: 300px; height: 225px; object-fit: cover;">
            </a>
            

            <!-- <div class="card-body ">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-8">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center">
                               h
                                
                            </div>
                            <div class="d-flex flex-row align-items-center mt-2">
                                h
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
        <!-- <div>
            <a href="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557148425/woman-570883_1280.jpg"
                data-size="1600x1067">
                <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557148425/woman-570883_1280.jpg"
                    class="img-fluid z-depth-1-half">
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <div>
                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(149).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(149).jpg"
                        class="img-fluid z-depth-1-half" />
                </a>
            </div>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <div>
                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                        class="img-fluid z-depth-1-half" />
                </a>
            </div>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div>
        <div>
            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                    class="img-fluid z-depth-1-half" />
            </a>
        </div> -->
    </div>
</div>