<app-header></app-header>
<div class="container">
    <app-profile></app-profile>
    <app-menubar></app-menubar>

    <!-- post page -->
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <mat-grid-list cols="4" rowHeight="16:9" gutterSize="20">
                <mat-grid-tile>
                    <a href="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557148425/woman-570883_1280.jpg" data-size="1600x1067">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557148425/woman-570883_1280.jpg"
                            class="img-fluid z-depth-1-half">
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(149).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(149).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(149).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(149).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(149).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(149).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(149).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(149).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg"
                            class="img-fluid z-depth-1-half" />
                    </a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>
