<app-header></app-header>
<div class="container">
    <app-profile></app-profile>
    <app-menubar></app-menubar>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block"> <img class="img-circle"
                                    src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg"
                                    alt="User Image"> <span class="username"><a href="#" data-abc="true">Maniruzzaman
                                        Akash</a></span> <span class="description">Public - 7:30 PM Today</span> </div>
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title=""
                                    data-original-title="Mark as read">

                                    <!-- dropdrown post page -->
                                    <i class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                            aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Edit post</a>
                                            <a class="dropdown-item" href="#">Delete post</a>
                                        </div>
                                    </i>
                                </button>
                            </div>
                        </div>
                        <!-- image user in post -->
                        <div class="box-body"> <img class="img-responsive pad"
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557148425/woman-570883_1280.jpg"
                                alt="Photo">

                            <!-- Message post -->
                            <p> Look at the beach photo i clicked</p>

                            <!-- like comment -->
                            <div class="timeline-footer">
                                <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                        class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>&nbsp;
                                <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                        class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            </div>
                        </div>

                        <div class="box-footer box-comments">
                            <div class="box-comment"> <img class="img-circle img-sm"
                                    src="https://img.icons8.com/office/36/000000/person-female.png" alt="User Image">
                                <div class="comment-text"> <span class="username"> Tina Domiaz <span
                                            class="pull-right">8:03 PM Today</span> </span> For what reason
                                    would it be advisable for me to think about business content? </div>
                            </div>
                            <div class="box-comment"> <img class="img-circle img-sm"
                                    src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                    alt="User Image">
                                <div class="comment-text"> <span class="username"> Smith helm <span
                                            class="pull-right">8:03 PM Today</span> </span>
                                    That might be little bit risky to have crew member like them. </div>
                            </div>
                        </div>

                        <!-- Message comment enter to post comments-->
                        <div class="box-footer">
                            <form action="#" method="post"> <img class="img-responsive img-circle img-sm"
                                    src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg"
                                    alt="Alt Text">
                                <div class="img-push"> <input type="text" class="form-control input-sm"
                                        placeholder="Press enter to post comment"> </div>
                            </form>
                        </div>
                    </div>



                    <!-- -------------------------------------post 2------------------------------------------------------ -->
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block"> <img class="img-circle"
                                    src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg"
                                    alt="User Image"> <span class="username"><a href="#" data-abc="true">Maniruzzaman
                                        Akash</a></span> <span class="description">Public - 8:30 PM Yesterday</span>
                            </div>
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title=""
                                    data-original-title="Mark as read">

                                    <!-- dropdrown post page -->
                                    <i class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                            aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Edit post</a>
                                            <a class="dropdown-item" href="#">Delete post</a>
                                        </div>
                                    </i>
                                </button>
                            </div>
                        </div>
                        <!-- image user in post -->
                        <div class="box-body"> <img class="img-responsive pad"
                                src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg" alt="Photo">

                            <!-- Message post -->
                            <p> Look at me!!!!!!!!!!!!!!!!!!!!</p>

                            <!-- like comment -->
                            <div class="timeline-footer">
                                <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                        class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>&nbsp;
                                <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                        class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            </div>
                        </div>

                        <div class="box-footer box-comments">
                            <div class="box-comment"> <img class="img-circle img-sm"
                                    src="https://img.icons8.com/office/36/000000/person-female.png" alt="User Image">
                                <div class="comment-text"> <span class="username"> Tina Domiaz <span
                                            class="pull-right">8:03 PM Yesterday</span> </span> For what reason
                                    would it be advisable for me to think about business content? </div>
                            </div>
                            <div class="box-comment"> <img class="img-circle img-sm"
                                    src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                    alt="User Image">
                                <div class="comment-text"> <span class="username"> Smith helm <span
                                            class="pull-right">8:03 PM Yesterday</span> </span>
                                    That might be little bit risky to have crew member like them. </div>
                            </div>
                        </div>

                        <!-- Message comment enter to post comments-->
                        <div class="box-footer">
                            <form action="#" method="post"> <img class="img-responsive img-circle img-sm"
                                    src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg"
                                    alt="Alt Text">
                                <div class="img-push"> <input type="text" class="form-control input-sm"
                                        placeholder="Press enter to post comment"> </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>