.centerScreen {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -180px;
}

.login-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
}