.centerScreen {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -180px;
}

._logo {
    margin-top: -5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgb(230, 230, 230);
}

._card_center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

.login-form {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

.p-button {
    width: 100%;
}

input {
    margin-bottom: 5%;
    width: 100%;
}

hr {
    width: 100%;
}