<html>
    <style>
        .novel{
            height: 500px;
            width: 800px;
        }
        .avatar {
            vertical-align: middle;
            width: 250px;
            height: 250px;
            border-radius: 100%;
        }
        :host >>> .mystyle{
            background-color: rgb(111, 182, 182);
        }
        div.c {
  position: absolute;
  right: 0px;  
  width: 200px;
  height: 120px;
  /* border: 3px solid green; */
}
    </style>
    <body>
        <div >
            <br><br>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;<div class="col-sm-3" >
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-sm-6">
                    <div *ngFor="let item of array">
                    <p-card title="Simple Card" class="novel" >
                        <div class="row">
                            <div class="col-sm-6">
                                &nbsp;&nbsp;&nbsp;&nbsp;<img  src="../../assets/images/userprofile.png" alt="Avatar" class="avatar"><br><br>
                                <h2 style="color: black;"> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                <i class="pi pi-user" style="color: darkred;"></i>
                                <i class="pi pi-ellipsis-v" style="color: darkred;"></i>
                                {{name}}
                            </h2>
                            </div>
                            <div class="col-sm-5">
                               <p>
                                <!-- {{text}} -->
                                {{item.text}}
                               </p>
                               <br>
                            </div>
                        </div>
                    </p-card><br><br>

                    <br><br>
                   </div>  

                </div>
                
            </div>
        </div>
    </body>
</html>
