<html>
<style>
    .novel {
        height: 500px;
        width: 800px;
    }

    .avatar {
        vertical-align: middle;
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }

    :host>>>.mystyle {
        background-color: rgb(111, 182, 182);
    }

    div.c {
        position: absolute;
        right: 0px;
        width: 200px;
        height: 120px;
        /* border: 3px solid green; */
    }
</style>

<body>
    <div>
        <br>
        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;<div class="col-sm-2">
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-sm-7">
                 <!-- แสดงรายชื่อคนอื่นให้เราติดตาม -->
                 <p-card header="Suggestions For You" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                    <div class="row"> 
                        <div class="col-md-12">
                            <div class="row justify-content-around">
                                <div>
                                    <h3>ชื่อคน</h3><br>
                                    <h3>ชื่อคน</h3>
                                </div>
                                <div >
                                    <div class="row justify-content-center">
                                        <strong style="font-size: xx-large;">
                                             <button pButton pRipple type="button" label="Follow" class="p-button-raised p-button-success"></button> <br>
                                             <button pButton pRipple type="button" label="Follow" class="p-button-raised p-button-success"></button>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </p-card>
                <!--  -->
                <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
                </p-confirmDialog>
                <div *ngFor="let item of array ;let num = index;">
                    <p-card title="Simple Card" class="novel">
                        <div class="row">
                            <div class="col-sm-1 ">
                                <!-- <div class="row justify-content-around"> -->
                                <img class="circular1" src="http://nodescoop.comsciproject.com/images/jpfunnyface.png"
                                    >
                                <!-- </div> -->
                            </div>
                            <div class="col-sm-11">
                                <div class="d-flex justify-content-between ml-4 ">
                                    <span class="font-weight-bold name">{{name}}</span>
                                    <div class="d-flex flex-row mt ellipsis ml-4">

                                        <div class="dropdown ">
                                            <!-- Trigger -->
                                            <a type="button" id="dropdownMenu2" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"><i
                                                    class="pi pi-ellipsis-v "></i></a>
                                            <!--Menu-->
                                            <div class="dropdown-menu dropdown-primary">
                                                <!-- <a class="dropdown-item"><i
                                                        class="pi pi-pencil"></i>&nbsp;&nbsp;Edit Post</a> -->
                                                <a class="dropdown-item" (click)="confirm2()"><i
                                                        class="pi pi-trash"></i>&nbsp;&nbsp;Delete</a>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="d-flex flex-column justify-content-start ml-4">
                                    <span class="date text-black-50">Shared publicly - {{item.datetime}}</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 ml-1">
                                <p class="multi_lines_text" [innerHTML]="item.text"></p>

                            </div>
                            <!-- <div>
                                <div class="d-flex justify-content-center row ">
                                    <img class="img-circle" src="../../assets/images/wang.jpg" width="90%">

                                    <br>
                                </div>
                            </div> -->
                        </div>
                        <div class="d-flex flex-column comment-section" id="myGroup">

                            <div class="bg-white p-2">
                                <div class="d-flex flex-row fs-12">
                                    <div class="like p-2 cursor"><i class="pi pi-thumbs-up"></i><span
                                            class="ml-1">Like</span></div>
                                    <div class="like p-2 cursor action-collapse " data-toggle="collapse"
                                        aria-expanded="true" aria-controls="collapse-1" href="#collapse-1">
                                        <i class="pi pi-comments"></i>
                                        <span class="ml-1" (click)="isToggle(num)">Comment</span>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="num == indexofComment">

                                <div id="collapse-1" class="p-2 collapse ml-2" data-parent="#myGroup">


                                    <div class="d-flex flex-row align-items-start ">
                                        <div class="row justify-content-around ">
                                            <img class="circular"
                                                src="http://nodescoop.comsciproject.com/images/jpfunnyface.png">
                                        </div>
                                        <textarea class="form-control ml-4 shadow-none textarea" [rows]="1" [cols]="30"
                                            pInputTextarea autoResize="autoResize"
                                            placeholder="เขียนความคิดเห็น"></textarea>

                                        &nbsp;&nbsp;
                                        <button icon=" pi pi-send" pButton pRipple type="button" label=" " 
                                                class="p-button-rounded p-button-outlined">
                                            </button>
                                    </div>
                                    <div *ngFor="let select of comments">
                                        <div style="padding-top: 10px;" class="d-flex flex-row align-items-start ">
                                            <div class="row justify-content-around ">
                                                <img class="circular"
                                                    src="http://nodescoop.comsciproject.com/images/jpfunnyface.png">
                                            </div>
                                            <div class="p-d-flex p-p-5 card ml-4  " style="top: 10px;">
                                                <div class="p-mr-2 p-as-center ml-2">
                                                    <a href="#">
                                                        <h4><strong>{{select.first_name}}
                                                                &nbsp;{{select.last_name}}&nbsp;&nbsp;</strong></h4>
                                                    </a>
                                                    <strong>{{select.text}}</strong>
                                                    &nbsp;&nbsp;
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-card><br>

                </div>
            </div>
        </div>
    </div>
</body>

</html>