<app-header></app-header>
<div class="container">
    <!-- <app-feed></app-feed> -->
    <div class="d-flex justify-content-center h-100 m-3">
        <div class="image_outer_container">
            <div class="green_icon">
            </div>
            <div class="col-md-12">

                <div class="row justify-content-around">
                    <div class="circular ">
                        <img class="circular1" src={{user_img}} *ngIf="user_img != null">
                        <img class="circular1" src="../../assets/images/userprofile.png" *ngIf="user_img == null">&nbsp;
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="my-auto">
                        <div class="row justify-content-center">
                            <strong style="font-size: xx-large;">{{fullname}} &nbsp;
    
                                <!-- <button type="button" class="btn btn-outline-success " -->
                                    <!-- style="border-color: rgb(22, 177, 156);" [routerLink]="['/editprofile',id]" >Edit Profile</button> -->
                                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                <br><br>
                                <div style="font-size: medium; color: darkgrey;">
                                    {{follower}} &nbsp;Followers &nbsp;
                                    {{followings}} &nbsp;Following &nbsp;
                                </div>

                            </strong>
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;
            </div>        
        </div>
        <br>
    </div>
    &nbsp;&nbsp;&nbsp;
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark justify-content-center">
        <ul class="nav nav-tabs justify-content-center">
            <!-- <li class="nav-item"><a routerLink='/home' class="nav-link" data-toggle="tab" >&nbsp;&nbsp;<i class="pi pi-home"></i></a></li> -->
            <!-- <li class="nav-item"><a [routerLink]="['/home/',user_id]"_id class="nav-link" data-toggle="tab" >HOME</a></li> -->
            <li class="nav-item"><a [routerLink]=" " class="nav-link" data-toggle="tab" (click)="linkTo(id)">Posts</a></li>
            <li class="nav-item"><a [routerLink]="['/photo/',id]" class="nav-link" data-toggle="tab" (click)="photos()">Photos</a></li>
            <li class="nav-item"><a [routerLink]="['/follow/',id]" class="nav-link" data-toggle="tab" (click)="followers()">Followers</a></li>
            <li class="nav-item"><a [routerLink]="['/following/',id]" class="nav-link" data-toggle="tab" (click)="following()">Following</a></li>
        </ul>
    </nav>
    <!-- <div *ngFor="let item of show">
        {{item.first_name}}
    </div> -->
    <div *ngFor="let item of show">
        <div class="card-body ">
            <div class="d-flex justify-content-center row">
                <div class="col-md-8">
                        <div class="d-flex flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex flex-row align-items-center">
                                <img class="circular1" src={{item.image}} *ngIf="item.image != null" width="80">
                                <img class="circular1" src="../../assets/images/userprofile.png" *ngIf="item.image == null" width="80"> 
                                <div class="d-flex flex-column align-items-start ml-4">
                                   <!-- <a href="otherprofile/{{item.userID_1}}"> -->
                                    <a [routerLink]=""  (click)="linkTo(item.userID_1)">
                                       <strong><span class="font-weight-bold">{{item.first_name}} {{item.last_name}}</span></strong>
                                    </a> 
                                  <div class="d-flex flex-row"> 
                                    <!-- <span class="mr-3">{{item.follower}} followers </span>
                                    <span>{{item.following}} following </span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mt-2">
                                <button class="btn button border-light" type="button" (click)="linkTo(item.userID_1)" >
                                <span>
                                    <h4 style="color:#ffffff">View Profile</h4>
                                </span>
                            </button>
                        </div>    
                        </div>
                </div>
            </div>
        </div>  
    </div>
</div>
