
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="d-flex justify-content-center h-100" >
        <div class="image_outer_container">
            <div class="green_icon">
            </div>
            <div class="col-md-12">

                <div class="row justify-content-around">
                    <div class="image_inner_container">
                        <img src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg">&nbsp;

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="my-auto">
                        <div class="row justify-content-center">
                            <strong style="font-size: large;">Maniruzzaman Akash &nbsp; 

                                <button type="button" class="btn btn-outline-success" style="border-color: rgb(22, 177, 156);">Edit Profile</button>
                                <br><br>
                                0 Posts &nbsp;
                                0 Follower &nbsp;
                                0 Following &nbsp;
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>