<app-header></app-header>
<div class="container ">
    <div class="d-flex justify-content-center h-100">
        <div class="image_outer_container">
            <div class="green_icon">
            </div>
            <div class="col-md-12">

                <div class="row justify-content-around">
                    <div class="image_inner_container">
                        <img src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg">&nbsp;
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="my-auto">
                        <div class="row justify-content-center">
                            <strong style="font-size: large;">{{fullname}} &nbsp;
    
                                <button type="button" class="btn btn-outline-success"
                                    style="border-color: rgb(22, 177, 156);" [routerLink]="['/editprofile',id]" >Edit Profile</button>
                                <br><br>
                                0 &nbsp;Posts &nbsp;
                                3 &nbsp;Follower &nbsp;
                                1 &nbsp;Following &nbsp;
                            </strong>
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;
                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                    <a class="nav-link" routerLink="/posts">Posts</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="nav-link" routerLink="/photo">Photos</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="nav-link" routerLink="/follow">Follow</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="nav-link" routerLink="/following">Following</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                  </nav>
            </div>
        </div>
        <br>
    </div>
    <!-- <app-menubar></app-menubar> -->
</div>
