
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="d-flex justify-content-center">
        <!--justify-content-center h-100-->
        <div class="image_outer_container">
            <div class="green_icon">

            </div>
            <div class="col-md-12">
                <div class="row justify-content-around">
                    <div class="image_inner_container">
                        <img src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg">&nbsp;

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="my-auto">
                        <div class="row justify-content-center">
                            <strong>Maniruzzaman Akash &nbsp;
                                <button type="button" class="btn btn-outline-success">Edit Profile</button>
                                <br><br> 
                                0 Post &nbsp;
                                0 Follow &nbsp; 
                                0 Following &nbsp;
                                <!-- <i class="glyphicon glyphicon-cog"></i> -->

                            </strong> 
                            
                        </div>

                    </div>
                </div>

            </div>

            <!-- <p>
                <strong>Maniruzzaman Akash</strong>&nbsp;
                <button type="button" class="btn btn-outline-success">Edit Profile</button>
            </p> -->

        </div>
    </div><br>
    <ul class="profile-header-tab nav nav-tabs justify-content-center">
        <li class="nav-item"><a href="#" class="nav-link active show" data-toggle="tab">Post</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-toggle="tab">Photos</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-toggle="tab">Follow</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-toggle="tab">Following</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Setting</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log out</a>
            </div>
        </li>
    </ul>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block"> <img class="img-circle"
                                    src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg"
                                    alt="User Image"> <span class="username"><a href="#" data-abc="true">Maniruzzaman
                                        Akash</a></span> <span class="description">Public - 7:30 PM Today</span> </div>
                            <div class="box-tools">
                                 <button type="button" class="btn btn-box-tool" data-toggle="tooltip"
                                    title="" data-original-title="Mark as read" >
                                </button>
                             </div>
                        </div>
                        <div class="box-body"> <img class="img-responsive pad"
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1557148425/woman-570883_1280.jpg"
                                alt="Photo">
                            <p> Look at the beach photo i clicked</p>
                            <!-- <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button> <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button> <span class="pull-right text-muted"></span> -->
                            <div class="timeline-footer">
                                <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                        class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>&nbsp;
                                <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                        class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                                <!-- <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a> -->
                            </div>
                        </div>
                        <div class="box-footer box-comments">
                            <div class="box-comment"> <img class="img-circle img-sm"
                                    src="https://img.icons8.com/office/36/000000/person-female.png" alt="User Image">
                                <div class="comment-text"> <span class="username"> Tina Domiaz <span
                                            class="pull-right">8:03 PM Today</span> </span> For what reason
                                    would it be advisable for me to think about business content? </div>
                            </div>
                            <div class="box-comment"> <img class="img-circle img-sm"
                                    src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                    alt="User Image">
                                <div class="comment-text"> <span class="username"> Smith helm <span
                                            class="pull-right">8:03 PM Today</span> </span>
                                    That might be little bit risky to have crew member like them. </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <form action="#" method="post"> <img class="img-responsive img-circle img-sm"
                                    src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg" alt="Alt Text">
                                <div class="img-push"> <input type="text" class="form-control input-sm"
                                        placeholder="Press enter to post comment"> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>