.image_inner_container img{
    margin-top: 5%;
   height: 200px;
   width: 200px;
   border-radius: 50%;
   border: 5px solid rgb(12, 12, 12);
   border-color: wheat;
}
.container {
    margin-bottom: 500px;
}


