.circular {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    
}
.circular1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    
}
.circular img {
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.radius{
    border: 50px;
    width: 100%;
    /* border-bottom: 12px; */
}
:host ::ng-deep .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}

.card {
    border-radius: 10px;
    width: 430px;
    /* height: 50px;
    padding: 20px;  */
    /* margin-top: 10px;
    margin-bottom: 50px */
}
 .card1 {
     border-radius: 50px;
     width: 600px;
     height: 300px;
     /* padding: 20px; */
     margin-top: 5px;
     margin-bottom: 50px
 }

 .profile-pic {
     width: 60px;
     height: 60px;
     border-radius: 50%;
     object-fit: contain;
     background-color: #E0E0E0
 }
 .textarea1 {
     padding: 15px 20px;
     border-radius: 20px;
     box-sizing: border-box;
     color: #443c3c;
     border: 1px solid #7c7a7a;
     font-size: 16px;
     letter-spacing: 1px;
     height: 200px ;
     width: 100%
 }

 .textarea1:focus {
     -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     border: 1px solid #00C853 !important;
     outline-width: 0 !important
 }

 select {
     border: none;
     font-size: 15px;
     background-color: #fff !important
 }

 select:focus {
     -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     outline-width: 0 !important
 }

 ::placeholder {
     color: #645f5f
 }

 :-ms-input-placeholder {
     color: #110e0e
 }

 ::-ms-input-placeholder {
     color: #1d1a1a
 }

 .btn-success {
     border-radius: 50px;
     padding: 4px 40px
 }

 .options {
     font-size: 23px;
     color: #292424;
     cursor: pointer
 }

 .options:hover {
     color: #000
 }
 .img-upload-btn { 
    position: relative; 
    overflow: hidden; 
    padding-top: 95%;
} 

.img-upload-btn input[type=file] { 
    position: absolute; 
    top: 0; 
    right: 0; 
    min-width: 100%; 
    min-height: 100%; 
    font-size: 100px; 
    text-align: right; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    outline: none; 
    background: white; 
    cursor: inherit; 
    display: block; 
} 

.img-upload-btn i { 
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.btn-radio {
    position: relative; 
    overflow: hidden; 
}

.btn-radio input[type=radio] { 
    position: absolute; 
    top: 0; 
    right: 0; 
    min-width: 100%; 
    min-height: 100%; 
    font-size: 100px; 
    text-align: right; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    outline: none; 
    background: white; 
    cursor: inherit; 
    display: block; 
}