<!-- <p>home works!</p> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" >SCOOP</a>
</nav> -->

<app-header></app-header>
<html>
<style>
    .novel {
        height: 500px;
        width: 800px;
    }

    .multi_lines_text {
        padding-left: 5%;
        padding-right: 5%;
        max-width: 800px;
        word-wrap: break-word;
    }

    .avatar {
        vertical-align: middle;
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }

    :host>>>.mystyle {
        background-color: rgb(111, 182, 182);
    }

    div.c {
        position: absolute;
        right: 0px;
        width: 200px;
        height: 120px;
        /* border: 3px solid green; */
    }
</style>

<body>
    <!-- {{email}} -->
    <!-- <button (click)="list()"> Send</button> -->
    <div>
        <br><br>

        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-sm-3">
            </div>


            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-sm-5">
                <p-dialog header="สร้างโพส" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}"
                    [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

                    <div class="row d-flex justify-content-center">
                        <div class="card1">
                            <div class="row px-3"> 
                                <img class="circular1 mr-3" src="http://nodescoop.comsciproject.com/images/jpfunnyface.png">
                                <div class="flex-column">
                                    <h3 class="mb-0 font-weight-normal"></h3>
                                     <select name="privacy" class="privacy">
                                        <option>Public post</option>
                                        <option>Private post</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row px-3 form-group"> 
                                <textarea class="text-muted bg-light mt-4 mb-3 textarea1" placeholder="คุณเป็นยังไงบ้างวันนี้?" [(ngModel)]="text" name="text"></textarea> 
                            </div>
                            <div class="row px-3">
                               
                            </div>
                        </div>
                    </div>


                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok" (click)="post()"
                            styleClass="p-button-text"></p-button>
                    </ng-template>
                </p-dialog>
                <p-card title="Simple Card" class="novel">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="justify-content-around">
                                <img class="circular1" src="http://nodescoop.comsciproject.com/images/jpfunnyface.png">
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="d-flex flex-column justify-content-start ml-4">
                                <div class="sizes">
                                    <input type="text" class="p-inputtext-lg radius" (click)="showMaximizableDialog()"
                                        placeholder="โพสอะไรหน่อยสิ" pInputText />


                                </div>
                            </div>
                        </div>
                        &nbsp;&nbsp;
                    </div>
                    <!-- <p-button (click)="showMaximizableDialog()" icon="pi pi-external-link" label="Show"></p-button> -->



                </p-card>

                <br>
                <div *ngFor="let item of array;let num = index;">
                    {{postBy(num)}}
                    <p-card title="Simple Card" class="novel">
                        <div class="row">
                            <div class="col-sm-1">
                                <div *ngIf="item.user_id == myID;">
                                    <div class="justify-content-around">
                                        <img class="circular1" style="width: 50px; height: 50px;" src="http://nodescoop.comsciproject.com/images/jpfunnyface.png">
                                    </div>
                                </div>
                                <div *ngIf="item.user_id != myID;">
                                    <img class="circular1" style="width: 50px; height: 50px;" src="../../assets/images/userprofile.png" >
                                </div>
                                
                            </div>
                            &nbsp;&nbsp;

                            <div class="col-sm-10">
                                <div class="d-flex flex-column justify-content-start ml-2">
                                    <span *ngIf="num == indexOfPosts;" class="font-weight-bold name">{{account_name}}
                                    </span>

                                    <span class="date text-black-50">Shared publicly - {{item.datetime | slice:0:10
                                        }}</span>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="multi_lines_text" [innerHTML]="item.text"></p>
                            </div>

                            <!-- <div>
                                    <div class="d-flex justify-content-center row ">
                                        <img class="img-circle" src="../../assets/images/wang.jpg" width="90%">
    
                                        <br>
                                    </div>
                                </div> -->
                        </div>
                        <div class="d-flex flex-column comment-section" id="myGroup">

                            <div class="bg-white p-2">
                                <div class="d-flex flex-row fs-12">
                                    <div class="like p-2 cursor">
                                        <span class="ml-1">

                                            <!-- <div *ngFor="let item_2 of is_liked;">
                                                <div *ngIf="(item.post_id == item_2.post_id) && true;">
                                                    {{item_2.liked}}
                                                    <button pButton pRipple icon="pi pi-thumbs-up" type="button" label=" Liked"
                                                    style="color: rgb(61, 75, 179);" class="p-button-text"  (click)="like(item.post_id)">
                                                    </button>
                                                </div>
                                            </div> -->

                                            <!-- <div #thenBlock>
                                                <button pButton pRipple icon="pi pi-thumbs-up" type="button" label=" Liked"
                                                    style="color: rgb(61, 75, 179);" class="p-button-text"  (click)="like(item.post_id)">
                                                </button>
                                            </div>

                                            <div #elseBlock>
                                                <button pButton pRipple icon="pi pi-thumbs-up" type="button" label=" Like"
                                                style="color: rgb(49, 50, 57);" class="p-button-text"  (click)="like(item.post_id)">
                                                </button>
                                            </div> -->
                                            

                                        </span>
                                    </div>
                                    <div class="like p-2 cursor action-collapse" data-toggle="collapse"
                                        aria-expanded="true" aria-controls="collapse-1" href="#collapse-1">
                                        <span class="ml-1">
                                            <button (click)="isToggle(num)" (click)="liked(item.post_id)"  pButton pRipple icon="pi pi-comments"
                                                type="button" label="  Comment" style="color: rgb(49, 50, 57); padding: 2% 120% ;"
                                                class="p-button-text"></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="num == indexofComment">
                                <div id="collapse-1" class="p-2 collapse" data-parent="#myGroup">
                                    <div class="d-flex flex-row align-items-start">
                                        <div class="justify-content-around">
                                            <img class="circular"
                                                src="http://nodescoop.comsciproject.com/images/jpfunnyface.png"
                                                width="40">
                                        </div>
                                        <textarea class="form-control ml-4 shadow-none textarea" [rows]="1" [cols]="30"
                                            pInputTextarea autoResize="autoResize" [(ngModel)]="comment"
                                            placeholder="เขียนความคิดเห็น"></textarea>
                                        &nbsp;&nbsp;
                                        <button icon=" pi pi-send" pButton pRipple type="button" label="Send"
                                            (click)="onComment(comment)" class="ml-4 p-button-rounded p-button-outlined">
                                        </button>
                                        
                                    </div>
                                    <div *ngFor="let select of comments">
                                        <div style="padding-top: 10px;" class="d-flex flex-row align-items-start ml-4">
                                            <div class="row justify-content-around ">
                                                <img class="circular"
                                                    src="http://nodescoop.comsciproject.com/images/jpfunnyface.png">
                                            </div>
                                            <div class="p-d-flex p-p-3 card ml-4  " style="top: 10px;">
                                                <div class="p-mr-2 p-as-center ml-2">
                                                    <a href="#">
                                                        <h4><strong>{{select.first_name}}
                                                                &nbsp;{{select.last_name}}&nbsp;&nbsp;</strong></h4>
                                                    </a>
                                                    <strong>{{select.text}}</strong>
                                                    &nbsp;&nbsp;
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-card><br>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!-- <h3 class="first"></h3>
        <p-slideMenu [model]="items" [viewportHeight]="250"></p-slideMenu>
        <br><br>
        <table align="center">
            <tr>
                <td>
                    <div>
                        <p-card title="Simple Card" [style]="{width: '360px'}">
                            <div>บทความ</div>
                        </p-card>
                      </div>
                </td>
            </tr>
        </table> -->