<!-- <p>home works!</p> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" >SCOOP</a>
</nav> -->

<app-header></app-header>
<!-- <div>
    <h3 class="first"></h3>
    <p-tieredMenu [model]="items" ></p-tieredMenu>
</div> -->

<html>
    <head>
    <style>
        .novel{
            height: 500px;
            width: 800px;
        }
        .avatar {
            vertical-align: middle;
            width: 250px;
            height: 250px;
            border-radius: 100%;
        }
        :host >>> .mystyle{
            background-color: rgb(111, 182, 182);
        }
        div.c {
            position: absolute;
            right: 0px;  
            width: 200px;
            height: 120px;
            /* border: 3px solid green; */
        }
    </style>
    <!-- <script src="node_modules/tinymce/tinymce.min.js"></script> -->

    </head>
    <body>
       <!-- {{email}} -->
       <!-- <button (click)="list()"> Send</button> -->
        <div >
            <br><br>
            <div class="c">
                <!-- <button type="button" class="btn btn-light" [routerLink]="['/posts',ids]">Post -->
                    <p-button (click)="showModalDialog()" icon="pi pi-external-link" 
                    label="Post" styleClass="p-button-warning" ></p-button>
     
                    <p-dialog header="Your article" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false" class="novel">
                        <div class="form-group">
                            <textarea class="form-control" rows="10" [(ngModel)]="text" ></textarea>
                        </div>
                        <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="displayModal=false" label="Post" 
                        styleClass="p-button-text" (click)="post()" [routerLink]="['/home']" >
                        </p-button>
                        </ng-template>
                    </p-dialog>

                <!-- </button> -->
            </div>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;<div class="col-sm-3" >
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<div class="col-sm-6">
                   <div *ngFor="let item of array">
                    <p-card title="Simple Card" class="novel" >
                        <div class="row">
                            <div class="col-sm-6">
                                &nbsp;&nbsp;&nbsp;&nbsp;<img  src="../../assets/images/userprofile.png" alt="Avatar" class="avatar"><br><br>
                                <h2 style="color: black;"> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                <i class="pi pi-user" style="color: darkred;"></i>
                                <i class="pi pi-ellipsis-v" style="color: darkred;"></i>
                                {{name}}</h2>
                            </div>
                            <div class="col-sm-5">
                               <!-- <h1 style="color: black;">Universal Children's Day</h1> -->
                               <p>
                                {{item.text}}
                               </p>
                               <br>
                                <!-- Button seemore -->
                                <!-- <button type="button" class="btn btn-dark" ><i class="pi pi-arrow-circle-down"></i>&nbsp; See more</button> -->
                            </div>
                        </div>
                    </p-card><br><br>


                    <br><br>
                   </div>  

                </div>
                
            </div>
        </div>

       
    </body>
</html>
        <!-- <h3 class="first"></h3>
        <p-slideMenu [model]="items" [viewportHeight]="250"></p-slideMenu>
        <br><br>
        <table align="center">
            <tr>
                <td>
                    <div>
                        <p-card title="Simple Card" [style]="{width: '360px'}">
                            <div>บทความ</div>
                        </p-card>
                      </div>
                </td>
            </tr>
        </table> -->