<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="_card_center">
    <div class="register-form">
        <p-card header="Scoop" [style]="{'width': '30rem'}">
            <hr style="margin-top: -5%;">
            <h5 style="font-weight: bold; margin-top: -3%;">Register</h5>
            <input type="text" pInputText placeholder="Name" name="first_name" [(ngModel)]="first_name">
            <input type="text" pInputText placeholder="Surname" name="last_name" [(ngModel)]="last_name">
            <input type="email" pInputText placeholder="E-mail" name="email" [(ngModel)]="email">
            <input type="password" pInputText placeholder="New password" name="password" [(ngModel)]="password">
            <div style="width: 100%; margin-bottom: 5%;">
                <label style="width: 100%; margin-bottom: -1%; font-size: small; color: rgb(150, 150, 150);">Birthday</label>
                <p-calendar  [showIcon]="true" inputId="icon" name="birthDay" [(ngModel)]="birthDay" dateFormat="yy-mm-dd" ></p-calendar>
            </div>
            <div>
                <label style="width: 100%; margin-bottom: -1%; font-size: small; color: rgb(150, 150, 150);">Gender</label>
                <p-selectButton [options]="stateOptions" [(ngModel)]="gender" optionLabel="label" optionValue="value"></p-selectButton>
                <!-- <div>{{gender}}</div> -->
            </div><br>
                    <div class="form-group files" style="text-align: center;">
                      <label style="width: 100%; margin-bottom: -1%; font-size: small; color: rgb(150, 150, 150);">Upload Your File </label><br><br>
                      <img [src]="urls" height="100" ><br><br>
                       <input id="file" type="file" #imageInput (change)="getFile(imageInput)">
                      </div>
                      <a  href="{{this.url}}" target="_blank">{{this.url}}</a>

            <hr style="margin-top: 5%; margin-bottom: 5%;">
            <div>
                <ngx-recaptcha2 [siteKey]="siteKey" (success)="handleSuccess($event)" ></ngx-recaptcha2>
            </div>
            <hr style="margin-top: 5%; margin-bottom: -2%;">

            <form action="?" method="POST" id="reCAPTCHA">
                <div class="g-recaptcha" data-sitekey="6LebNC0aAAAAAOC8dWexryo1xwYyLCy8G3Ipa7a7"></div>
                <br/>
            </form>
        
              <script>
                  document.getElementById("reCAPTCHA").addEventListener('submit', submitForm);
                  function submitForm(e) {
                      e.preventDefault();
                      const captcha = document.querySelector("#g-recaptcha-response").value;
                      fetch('/verify/subscribe', {
                          method:'POST',
                          headers: {
                              'Accept': 'application/json, text/plain, */*',
                              'Content-type' : 'application/json'
                          },
                          body:JSON.stringify({captcha: captcha})
                      })
                      .then((res) => res.json())
                      .then((data) => {
                        console.log(data);
                      });
                  }
              </script>
            <br><button style="margin-bottom: 2%;" pButton pRipple type="button" label="Register" class="p-button-success" (click)="register()"></button>
            <br><button routerLink="/login" pButton pRipple type="button" label="Cancel" class="p-button-danger"></button>
        </p-card>
    </div>
</div>

