<div class="register-form">
    <h1>Scoop</h1>
    <p-card header="Register" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        <input type="text" pInputText placeholder="name">
        <input type="text" pInputText placeholder="surname">
        <input type="text" pInputText placeholder="Username">
        <input type="password" pInputText placeholder="New password">
        <label >Birthday</label>
        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
        <input type="text" pInputText placeholder="Sex?">
        <br><button pButton pRipple type="button" label="Apply" class="p-button-success"></button>
    </p-card>
</div>
