<div class="container justify-content-start ">
    <div style="padding-top: 10px;" class="d-flex flex-row align-justify ">
        <br><br><img class="rounded-circle "
            src="http://nodescoop.comsciproject.com/images/jpfunnyface.png" width="40">

        <div class="p-d-flex p-p-3 card  ml-2 " style="top: 20px;">
            <div class="p-mr-2 p-as-center ml-3">
                <a href="#">
                    <h2><strong>name</strong></h2>
                </a>
                <strong>022454454545612154484515njhhguhu</strong>
                &nbsp;&nbsp;
            </div>
        </div>
        <br>

    </div>
</div>